.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blue {
  background-color: #568ca1;
}

.red {
  background-color: #922828;
}

.component {
  border: 1px solid black;
  height: calc(50vh - 2px);
}

.inline-list {
  padding-left: 32px;
  padding-top: 32px;
}

.inline-list .list-item {
  display: flex;
  text-align: start;
}

.list-item dt {
  font-weight: 500;
  width: 90px;
}
